extends layout
block content
  .container.text-center
    .jumbotron
      h1= title

  .container
    each key in data
      .panel.panel-success
        .panel-heading
          h3.panel-title #{key.title}
        .panel-body
          | #{key.content}
          .pull-right
            .form-group
              a.btn.btn-warning(href='/update/#{key._id}', role='button') Edit Memo
            .form-group
              a.btn.btn-danger(href='/delete/#{key._id}', role='button') Delete Memo
        ul.list-group
          li.list-group-item Tags : #{key.tags}
